# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Logs / cache
*.log
.pytest_cache/
.coverage

# Secrets
.env
.streamlit/secrets.toml

# Ignore pickle files globally…
*.pkl

# …except your actual trained model in model folder
!model/
!model/banking_model.pkl

# Keep CSV files tracked (do not ignore them)
# (No *.csv rule here)

# IDE
.vscode/
.idea/
.DS_Store