# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Build files
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing / cache
.pytest_cache/
.coverage
htmlcov/
.cache

# Logs
*.log
logs/

# Environment variables
.env
.env.*
*.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temp files
temp/
tmp/
*.tmp

# Streamlit secrets only
.streamlit/secrets.toml

# Ignore all pickle files except your trained model
*.pkl
!banking_model.pkl

# Optional: ignore uploaded runtime files only
uploads/